/* .page {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position:fixed;
  top:0;
  right: 0;
  bottom: 0;
  z-index:2000;
  height: 100vh;
  
}
.group_2 {
  width: 326px;
}
.section {
  padding: 27px 0 85px;
  filter: drop-shadow(10px 15px 7.5px #00000029);
  width: 326px;
  height: 880px;
  position: relative;

}
.image_1 {
  filter: drop-shadow(10px 15px 7.5px #00000029);
  width: 326px;
  height: 880px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;

}
.group_4 {
  position: relative;
}
.space-y-66 > *:not(:first-child) {
  margin-top: 66px;
}
.image {
  width: 340px;
  height: 25px;
}
.space-y-72 > *:not(:first-child) {
  margin-top: 72px;
}
.section_2 {
  padding: 20px 0 15px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 234px;
}
.space-y-11 > *:not(:first-child) {
  margin-top: 11px;
}
.font_1 {
  font-size: 30px;
  font-family: DNPShueiMGoStd-B;
  letter-spacing: 1.5px;
  line-height: 22px;
  color: #81a1f5;
}
.text {
  line-height: 21.5px;
}
.font_2 {
  font-size: 12px;
  font-family: DNPShueiMGoStd-B;
  line-height: 11px;
  color: #81a1f5;
}
.section_3 {
  padding: 18px 0 12px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 233px;
}
.text_3 {
  line-height: 23px;
}
.section_4 {
  padding: 18px 0 13px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 230.5px;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 14px;
}
.section_5 {
  padding: 20px 0 17px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 229.5px;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 8px;
}
.font_3 {
  font-size: 30px;
  font-family: DNPShueiMGoStd-B;
  line-height: 22px;
  color: #81a1f5;
}
.section_6 {
  padding: 18px 0 14px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 228px;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 12px;
}
.text_9 {
  line-height: 23px;
}
.image-wrapper1 {
  padding: 26px 0 29px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 72px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 2000;
}
.image1 {
  width: 30px;
  height: 25px;
} */
.group_4 {
  margin-top: -100px;
  position: relative;
  position:fixed;
  right: 0;
  transition: right 0.5s ease-in-out;
  -moz-transition:right 0.5s ease-in-out;; /* Firefox 4 */
  -webkit-transition: right 0.5s ease-in-out;; /* Safari 和 Chrome */
  -o-transition:right 0.5s ease-in-out;; /* Opera */
}
.space-y-72 > *:not(:first-child) {
  margin-top:40px;
}
.section_2 {
  padding: 20px 0 15px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 234px;
}
.space-y-11 > *:not(:first-child) {
  margin-top: 11px;
}
.font_1 {
  font-size: 30px;
  font-family: DNPShueiMGoStd-B;
  letter-spacing: 1.5px;
  line-height: 22px;
  color: #81a1f5;
}
.text {
  line-height: 21.5px;
}
.font_2 {
  font-size: 12px;
  font-family: DNPShueiMGoStd-B;
  line-height: 11px;
  color: #81a1f5;
}
.section_3 {
  padding: 18px 0 12px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 233px;
}
.text_3 {
  line-height: 23px;
}
.section_4 {
  padding: 18px 0 13px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 230.5px;
}
.space-y-14 > *:not(:first-child) {
  margin-top: 14px;
}
.section_5 {
  padding: 20px 0 17px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 229.5px;
}
.space-y-8 > *:not(:first-child) {
  margin-top: 8px;
}
.font_3 {
  font-size: 30px;
  font-family: DNPShueiMGoStd-B;
  line-height: 22px;
  color: #81a1f5;
}
.section_6 {
  padding: 18px 0 14px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 228px;
}
.space-y-12 > *:not(:first-child) {
  margin-top: 12px;
}
.text_9 {
  line-height: 23px;
}
.image-wrapper {
  padding: 40px 0 29px;
  background-color: #e6e8ee;
  border-radius: 30px 0 0 30px;
  box-shadow: 10px 15px 15px #00000029, 1px 1px 1px #ffffff inset;
  width: 310px;
  position: fixed;
  right: 0;
  top: 42px;
  z-index: 3001;
  transition: width 0.5s ease-in-out;
  -moz-transition:width 0.5s ease-in-out;; /* Firefox 4 */
  -webkit-transition: width 0.5s ease-in-out;; /* Safari 和 Chrome */
  -o-transition:width 0.5s ease-in-out;; /* Opera */

}
.image {
  width: 30px;
  height: 25px;
  position: absolute;
  top:22px;
  left: 20px;

  
}
.header{
  background-color: #e6e8ee;
  position: fixed;
  top: 110px;
  right: 0;
  z-index: 3000;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 100vh;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: width 0.5s ease-in-out;

}