<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .play {
        display: flex;
        justify-content: space-around;
      }
      .box {
        background-image: url('../public/i1.png');
        width: 200px;
        height: 200px;
        background-position: center 0;
        background-repeat: repeat-y;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="play">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div>
        <button id="start">play</button>
      </div>
    </div>
    <script>
      function start(nums) {
        const box = document.querySelectorAll('.box')
        console.log(box)
        for (var i = 0; i < 3; i++) {
          box[i].style.backgroundPositionY = -48 * nums[i] - 48 * 10 + 'px'
          box[i].style.transitionDuration = (i + 1) * 500 + 'ms'
        }
      }
      window.onload = function () {
        var button = document.getElementById('start')
        button.addEventListener('click', function () {
          start([1, 2, 3])
        })
      }
    </script>
  </body>
</html>
